<!--
<footer class="container-fluid text-center" style="background-color: #004085;height: 30%;width: 100%">
  <div> </div>
</footer>
-->

<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-4" style="background-color: #17498e ; color: white;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Feedback Byblos</h5>
        <p></p>

      </div>
      <!-- Grid column -->



      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Links -->


        <ul class="list-unstyled">
          <li>

          </li>
          <li>

          </li>
          <li>

          </li>
          <li>

          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> Talan Tunisie</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
