<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Titre du formulaire" name="titre" [(ngModel)]="enquete.title">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Description" name="description" [(ngModel)]="enquete.description"></textarea>
  </mat-form-field>
</form>

<ng-template #dynamic></ng-template>

<button mat-button (click)="addQtext()" style="margin-left: 100px;">Ajouter question à réponse texte</button>
<button mat-button (click)="addQcm()">Ajouter question à choix multiples</button>
<button mat-button (click)="envoyer(enquete.title, enquete.description, enquete.questions)">Envoyer</button>


<app-form-renderer></app-form-renderer>
