<div style="border: #DDDDDD solid 2px; width: 80%; margin-left: 10%; min-height: 400px;">
  <div style="background-color: #17498e; width: 100%; text-align: center; padding: 20px;">
    <strong style="color: white; font-size: 25px; font-family: Calibri;">Formulaire sans titre</strong>
  </div>

  <div style="text-align: justify; padding: 30px 50px; color: black;">
    <form class="example-form">
      <mat-form-field class="example-full-width" style="width: 45%;">
        <input matInput placeholder="Titre du formulaire" name="titre" [(ngModel)]="enquete.title">
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 45%;">
        <input matInput [matDatepicker]="picker" name="expirationDate" placeholder="Date d'expiration" [(ngModel)]="enquete.expirationDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Description" name="description" [(ngModel)]="enquete.description"></textarea>
      </mat-form-field>
    </form>

    <mat-grid-list cols="5" rowHeight="2:1">
      <mat-grid-tile [colspan]="3">
        <ng-select style="width: 100%;" appendTo="div" [closeOnSelect]="false" [items]="employees" bindLabel="fullName" [multiple]="true"
          placeholder="Visibilité" [(ngModel)]="selectedEmployees" [disabled]="visibleForAll">
        </ng-select>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <mat-checkbox [(ngModel)]="visibleForAll">Visible pour tout le monde</mat-checkbox>
      </mat-grid-tile>
    </mat-grid-list>
    <br>

    <ng-template #dynamic></ng-template>

    <div align="right">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>Ajouter question...</button>
        <button mat-menu-item (click)="addQtext()">
          <mat-icon style="margin: 0 10%; ">notes</mat-icon>
          <span style="position: relative;">Réponse texte</span>
        </button>
        <button mat-menu-item (click)="addQcm()">
          <mat-icon style="margin: 0 10%; ">radio_button_checked</mat-icon>
          <span style="position: relative;">Choix multiples</span>
        </button>
        <button mat-menu-item (click)="addQcheckbox()">
          <mat-icon style="margin: 0 10%; ">check_box</mat-icon>
          <span style="position: relative;">Case à cocher</span>
        </button>
        <button mat-menu-item (click)="addQnumber()">
          <mat-icon style="margin: 0 10%; ">unfold_more</mat-icon>
          <span style="position: relative;">Réponse numérique</span>
        </button>
      </mat-menu>
      <button mat-button (click)="envoyer(enquete.title, enquete.description, enquete.questions, enquete.expirationDate)" [routerLink]="['/home/survey']">Envoyer</button>
      <button mat-button [routerLink]="['/home/survey']">Annuler</button>
    </div>

    <!--<button mat-button (click)="addQdatetime()">Ajouter question date/heure</button>-->
  </div>
</div>