<div *ngIf="enquete$ | async as enquete" style="border: #DDDDDD solid 2px; width: 80%; margin-left: 10%; min-height: 400px;">
  <div style="background-color: #17498e; width: 100%; text-align: center; padding: 20px;" *ngIf="allResponses$ | async as allResponses">
    <strong style="color: white; font-size: 25px; font-family: Calibri;">{{ enquete.title }} - {{allResponses[index].owner.firstName}} {{allResponses[index].owner.lastName}}</strong>
  </div>

 

  <div *ngIf="allResponses$ | async as allResponses" style="text-align: justify; padding: 10px 50px; color: black;">

    <p style="text-align: justify; padding: 20px; color: black;">{{ enquete.description }}</p>
    <p style="text-align: justify; padding-left: 20px; color: #db4437;">* Obligatoire</p>

    <div *ngFor="let question of enquete.questions; let i = index" style="text-align: justify; padding: 10px 50px; color: black;">
      <h3>{{question.label}}
        <span *ngIf="question.required" style="color: #db4437;"> *</span>
      </h3>
      <div [ngSwitch]="question.type" style="font-weight: normal; ">
        <form *ngSwitchCase="'QTextEntity'" style="margin-left: 20px;" class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Réponse" name="reponse" [(ngModel)]="allResponses[index].responses[i].value" disabled>
          </mat-form-field>
        </form>
        <mat-radio-group *ngSwitchCase="'QMultChoices'" class="example-radio-group" style="margin-left: 20px;" [(ngModel)]="allResponses[index].responses[i].value"
          disabled>
          <mat-radio-button class="example-radio-button" *ngFor="let option of question.choices" [value]="option">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
        <form class="example-section" *ngSwitchCase="'QMultChoicesMultAnswers'" style="margin-left: 20px;">
          <div *ngFor="let option of question.choices" style="margin: 5px;">
            <mat-checkbox [value]="option" [checked]="shouldBeChecked(allResponses[index].responses[i].values, option)" disabled>{{option}}</mat-checkbox>
          </div>
        </form>
        <form *ngSwitchCase="'QNumberEntity'" style="margin-left: 20px;" class="example-form">
          <mat-form-field class="example-full-width" style="width: 20%;">
            <input matInput type="number" placeholder="Réponse" name="reponse" [(ngModel)]="allResponses[index].responses[i].value" disabled>
          </mat-form-field>
        </form>
      </div>
      <br>
      <mat-divider></mat-divider>
    </div>
    <div align="right">
      <button mat-button [routerLink]="['/home/survey/responses', enquete.id]">Retour</button>
    </div>
  </div>
</div>