<!--<div align="right">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before">
    <button mat-menu-item [routerLink]="['/home/form-creator']">
      <span>Ajouter une enquête...</span>
    </button>
  </mat-menu>
</div>-->
<!--
<mat-list style="margin: 20px;">
  <mat-list-item *ngFor="let enquete of enquetes">
    <a [routerLink]="['/home/form-renderer', enquete.id]">{{enquete.title}}</a>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>-->

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">


    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef style="width: 90%;"> Titre du formulaire </th>
      <td mat-cell *matCellDef="let enquete" style="width: 90%; cursor: pointer; outline: 0;" [routerLink]="['/home/form-renderer', enquete.id]"> {{enquete.title}} </td>
    </ng-container>

    <ng-container matColumnDef="icons" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon style="color: rgba(0, 0, 0, 0.5);">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before">
          <button mat-menu-item [routerLink]="['/home/form-creator']">
            <!--<mat-icon>dialpad</mat-icon>-->
            <span>Ajouter une enquête...</span>
          </button>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let enquete">
        <!--<mat-icon *ngIf="element.title == 'Test 2'">more_vert</mat-icon>-->
        <mat-icon style="cursor: pointer; color: rgba(0, 0, 0, 0.5); outline: 0;" [routerLink]="['/home/form-renderer', enquete.id]">reply</mat-icon>
        <mat-icon *ngIf="isAuthorized(enquete.id)" style="cursor: pointer; color: rgba(0, 0, 0, 0.5); outline: 0;">list</mat-icon>
        <mat-icon *ngIf="isAuthorized(enquete.id)" style="cursor: pointer; color: rgba(0, 0, 0, 0.5); outline: 0;">bar_chart</mat-icon>
      </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20 ]" showFirstLastButtons></mat-paginator>
</div>