.modal-dialog {
  height: 80% !important;
  padding-top:10%;
}
.modal-content {
  height: 133% !important;
  overflow:visible;
  width: 165%;
  margin-top: -13%;
  margin-left: -22%;
}
.modal-body {
  height: 80%;
  overflow: auto;
}
rating{
  color: #FF9934;
}

.like.gris {
  color: #DDDDDD
}

.like.blue {
  color: #004085;
}
