<!--<img src="../assets/img//femme.jpg" style="border-radius: 50%;width: 50%; margin-left:-30%;margin-top: 20%;">
<h5 class="title" style="align-content: center;margin-left:-30%;color: #20324a">Bonjour</h5>
<h4 class="title" style="align-content: center;margin-left:-20% ;color: #20324a">
  <strong>AAAA {{name}}</strong>
</h4>

<ul class="nav navbar-nav" style="margin-left: -7%;">
  <li class="active" style="background-color: #17498e;color: white;width: 90%;height: 30%;border:white solid 2px ">
    <a routerLink="/home/Collaborateur" style="color: white" (click)="feedbackPage()">
      <span style="font-size:16px;color: white" class="glyphicon glyphicon-comment"></span> Feedback</a>
  </li>

  <li class="active" style="background-color: #17498e;color: white;width: 90%;height: 30%;border:white solid 2px">
    <a href="#" style="color: white" routerLink="/home/Dashboard">
      <i style="font-size: 18px" class="fas fa-chart-pie"></i> Statistique Feedback</a>
  </li>

  <li class="active" style="background-color: #17498e;color: white;width: 90%;height: 30%;border:white solid 2px">
    <a href="#" style="color: white" routerLink="/home/survey">
      <i style="font-size: 18px" class="fas fa-file-alt"></i> Enquête</a>
  </li>
</ul>-->
<div style="text-align: center;">
  <img src="../assets/img//femme.jpg" style="border-radius: 50%; width: 40%; margin-top:50px; margin-bottom: 20px;">
  <h5 class="title" style="align-content: center; color: #20324a">Bonjour</h5>
  <h4 class="title" style="align-content: center; color: #20324a; margin-bottom: 20px;">
    <strong>AAAA {{name}}</strong>
  </h4>

  <button mat-button style="background-color: #17498e;color: white; width: 80%; height: 20%; margin: 10px 0;" routerLink="/home/Collaborateur"
    (click)="feedbackPage()">
    <span style="font-size:18px;" class="glyphicon glyphicon-comment"></span> Feedback
  </button>

  <button href="#" mat-button style="background-color: #17498e; color: white; width: 80%; height: 20%; margin: 10px 0;" routerLink="/home/Dashboard">
    <span style="font-size: 18px" class="fas fa-chart-pie"></span> Statistique Feedback
  </button>

  <button mat-button style="background-color: #17498e; color: white; width: 80%; height: 20%; margin: 10px 0;" routerLink="/home/survey">
    <span style="font-size: 18px" class="fas fa-file-alt"></span> Enquête
  </button>
</div>