<mat-divider></mat-divider>
<div style="padding: 40px 20px;">
  <table style="width: 100%">
    <tr>
      <td>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Question" autocomplete="off" [(ngModel)]="question.label" name="question_label">
          </mat-form-field>
        </form>
      </td>
      <td align="center" style="width: 20%; border-right: 1px solid rgba(0,0,0,.12)">
        <mat-slide-toggle [(ngModel)]="question.required">Obligatoire</mat-slide-toggle>
      </td>
      <td align="center">
        <mat-icon style="cursor: pointer; color:rgba(0, 0, 0, 0.5); " (click)="destroy()">delete</mat-icon>
      </td>
    </tr>
  </table>

  <form class="example-form" style="padding: 0 20px; width: 70%;" *ngFor="let option of question.choices; let i=index; trackBy: trackByFn">
    <table style="width: 100%;">
      <tr>
        <td align="right">
          <mat-icon style="font-size: 13px; padding-right:20px; color:rgba(0, 0, 0, 0.5);">radio_button_unchecked</mat-icon>
        </td>
        <td>
          <mat-form-field class="example-full-width" style="width: 90%;">
            <input matInput name="option" autocomplete="off" [(ngModel)]="question.choices[i]" (click)="$event.target.select()">
            <mat-icon matSuffix style="cursor: pointer; color:rgba(0, 0, 0, 0.5);" (click)="deleteOption(i)">clear</mat-icon>
          </mat-form-field>
        </td>
      </tr>
    </table>

  </form>

  <div style="padding: 0 50px;">
    <button mat-button (click)="addOption()">Ajouter une option</button>
  </div>
</div>
<br>