<mat-divider></mat-divider>
<div style="padding: 40px 20px;">
  <table style="width: 100%">
    <tr>
      <td>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Question" autocomplete="off" [(ngModel)]="question.label" name="question_label">
          </mat-form-field>
        </form>
      </td>
      <td align="center" style="width: 20%; border-right: 1px solid rgba(0,0,0,.12)">
        <mat-slide-toggle [(ngModel)]="question.required">Obligatoire</mat-slide-toggle>
      </td>
      <td align="center">
        <mat-icon style="cursor: pointer; color:rgba(0, 0, 0, 0.5); " (click)="destroy()">delete</mat-icon>
      </td>
    </tr>
  </table>

  <form class="example-form" style="padding: 0 20px; width: 70%;">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choisir une date" disabled>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="margin-left: 30px;">
      <input matInput type="time" disabled>
    </mat-form-field>

  </form>
</div>