
.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid green;
}

li:focus {
  background: lightgreen;
}

a {
  color: #5B5B5B !important;
}


.activeScroll{
  border-right: #17498E solid 1.8px;
}
