<div class="container">

    <div class="row">
      <div class="col-md-12">
        <div style="background-color: #17498e;height: 82px;width: 1045px;margin-left: -4%;margin-top: -25px;">
          <br>
            <span style="color: white;font-size:20px;margin-left: 37%;font-family: Calibri"> Feedback <span
              style="font-family: Calibri;font-size: 23px;font-weight: bold">Byblos</span> </span>
        </div>
      </div>
    </div>
    <br><br>

    <div class="row">
      <div class="col-md-9">
        <span style="color: #17498e;font-size: 18px;font-family: Calibri;font-weight: bold;margin-left: 300px;">Vos feedbacks sont revus par l'équipe Byblos</span><br>
        <span style="color: #17498e;font-size: 18px;font-family: Calibri;font-weight: bold;margin-left: 254px;"> et pris en compte pour créer et améliorer votre expérience . </span><br>
        <span
          style="color: #17498e;font-size: 18px;font-family: Calibri;font-weight: bold;margin-left: 435px;">Merci :)</span>
      </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div style="width: 70%;height: 80%;border: #6c757d 1px solid;margin-left: 15%;margin-top: 6%;">
              <span style="color: #212529;font-family: Calibri;font-size: 18px;font-weight: bold;margin-left: 20%">{{themeavis.themeAvis}}</span>

            </div>
        </div>
    </div>

</div>
