<mat-divider></mat-divider>
<div style="padding: 20px;">
  <table style="width: 100%">
    <tr>
      <td>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Question" [(ngModel)]="question.label" name="question_label">
          </mat-form-field>
        </form>
      </td>
      <td style="width: 20%;">
        <mat-checkbox [(ngModel)]="question.required">Obligatoire</mat-checkbox>
      </td>
    </tr>
  </table>

  <form class="example-form" style="padding: 0 20px; width: 70%;">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Réponse" disabled>
    </mat-form-field>
  </form>
</div>