<div class="container" style="width: 80%;position: relative;z-index:0 ;height: 30%">

  <form class="example-form">
    <div class="row">
      <div class="col-md-7">
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="personne" matInput placeholder="personne" aria-label="à" [matAutocomplete]="auto"
                 [formControl]="stateCtrl" style="    margin-left: -1%;
    width: 137%;">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let state of filteredStates | async" [value]="state">
              <span>{{ state }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-1">
        <!--
              <span *ngFor="let n of names"><span class="badge" style="margin-left: -1%;background-color: #004085;width: 150px">{{n}}</span> </span>
        -->
      </div>
    </div>
    <div class="row" style="width: 131%;margin-left: -12%">
      <div class="col-md-2" style="margin-left: 3%">
        <button mat-button (click)="Melaffecter()" style="background-color: #004085;color: white;box-shadow: #DDDDDD">Me l'affecter</button>
      </div>
      <div class="col-md-2" style="margin-left: 5%">
        <button mat-button (click)="AffecterUser()" style="background-color: #004085;color: white;box-shadow: #DDDDDD">Affecté à {{personne}}</button>
      </div>
      <div class="col-md-2" style="margin-left: 15%">
        <button mat-button style="background-color: #004085;color: white;box-shadow: #DDDDDD" (click)="onNoClick()">Cancel</button>
      </div>
    </div>
    <br/>
  </form>
</div>

